:host {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;
}

header {
  flex: 0 0 auto; /* El header mantiene su tamaño natural y no se encoge */
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  
  .user-name {
    font-size: 14px;
    font-weight: 500;
  }
}

main {
  flex: 1 1 auto; /* ¡Clave! El main se estira para ocupar todo el espacio restante */
  display: flex;  /* Hacemos que main también sea flex para que el contenedor interno se adapte */
  flex-direction: column;
  overflow: hidden;
}

.main-container {
  flex: 1; /* El mat-sidenav-container ahora llena todo el <main> */
}

.content-wrapper {
  padding: 20px;
  /* Si quieres que el contenido interno tenga su propio scroll: */
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}