:host {
  display: flex;
  flex-direction: column;
  height: 100%;       /* Ocupa el 100% que le da el sidenav-content */
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .header-actions {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  mat-sidenav-container{
    flex: 1;
    height: 100%;
    min-height: 0;
    background: none;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }

  .table-responsive {
    overflow-x: auto;
  }

  table {
    width: 100%;
  }

  .name-info {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    .main-name { font-weight: 500; color: #333; }
    .sub-code { font-size: 0.75rem; color: #777; }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  .phone-info {
    display: flex;
    align-items: center;
  }

  .email-info {
    display: flex;
    align-items: center;
  }

  .details-sidebar {
    width: 45%;
    padding: 20px;
    background: white;

    .info-card {

    }
    
    .sidebar-content {
      
    }

    .timeline {
      margin-top: 20px; 
      border-left: 2px solid #e0e0e0; 
      padding-left: 20px; 
      position: relative; 

      .timeline-item {
        position: relative;
        margin-bottom: 25px;

        .timeline-marker {
          position: absolute;
          left: -27px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #3f51b5;
          border: 2px solid white;
        }

        .date {
          font-size: 0.75rem;
          color: #888;
        }

        .action {
          margin: 4px 0;
          font-size: 0.9rem;
        }

        .notes {
          font-size: 0.85rem;
          color: #555;
          font-style: italic;
        }
      }
    }

    .sidebar-action {
      
      background: white;
      border-top: 1px solid #eee;
    
      .full-width {
        width: 100%;
        margin-bottom: 7px;
      }
    }

  }

  .clickable-row {
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  .active-row{
    background-color: #e8eaf6
  }

}