<mat-tab-group>
  <mat-tab label="Registro de Entrada"> 
    <h2>Lista de institutos confirmados</h2>
    <div class="p-4">
        
        <div class="search-container">
            <button mat-mini-fab color="secondary" *ngIf="authService.hasRoles(['admin'])" (click)="syncRegistros()">
                @if(isSync){
                <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
                }@else {
                <mat-icon>refresh</mat-icon>
                }
            
            </button>
            <mat-form-field appearance="outline" class="search-input">
                <mat-label>Buscar por ID registro o Nombre de Institución</mat-label>
                <input matInput
                 #searchInput
                 [(ngModel)]="searchTerm" 
                 (keyup)="onSearch()" 
                 placeholder="Ej: 105 o Belén"
                 autocomplete="off">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="table-wrapper">
            <div class="table-container mat-elevation-z2">
                <table mat-table [dataSource]="filtradosList" class="">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    
                    <!-- Institución Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Institución </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nombre_establecimiento}}
                            <div *ngIf="element.observaciones" class="nota">
                                <mat-icon style="vertical-align: middle">info</mat-icon>
                                {{element.observaciones}}
                            </div>
                        </td>
                    </ng-container>
                    
                    <!-- Dirección Column -->
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef> Dirección </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{element.direccion || '---'}}
                            <div>
                                {{element.departamento}}
                            </div>
                            <div>
                                {{element.municipio}}
                            </div>
                        </td>
                    </ng-container>
                    
                    <!-- Horario Column -->
                    <ng-container matColumnDef="horario">
                        <th mat-header-cell *matHeaderCellDef> Horario </th>
                        <td mat-cell *matCellDef="let element"> 
                            @if(element.estado_participacion === "CONFIRMADO") {
                                {{element.hora_participacion}} {{element.fecha_text}} 
                            }@else {
                                {{element.estado_participacion}}
                            }
                            
                        </td>
                        
                    </ng-container>

                    <ng-container matColumnDef="encargado">
                        <th mat-header-cell *matHeaderCellDef> Encargado </th>
                        <td mat-cell *matCellDef="let element">
                            @if (element.tiene_responsable === "Si") {
                                {{element.nombre_responsable}}
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="abrirRegistro(element)">
                                Registrar
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div *ngIf="filtradosList.length === 0" class="no-results-container">
                    <mat-icon color="primary" style="transform: scale(2); margin-bottom: 10px;">domain_disabled</mat-icon>
                    <p>No se encontró ninguna institución con "<strong>{{searchTerm}}</strong>"</p>

                    <button mat-raised-button color="accent" (click)="crearNuevoRegistro(searchTerm)">
                        <mat-icon>add</mat-icon>
                        REGISTRAR INSTITUCIÓN NUEVA
                    </button>
                </div>
            </div>
            <button mat-mini-fab color="accent" class="btn-add-table" 
                matTooltip="Registrar nueva institución"
                (click)="crearNuevoRegistro()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        
      </div>
  </mat-tab>
  <mat-tab label="Control de Registrados">
    <ng-template matTabContent>
        <div class="p-4">
            <h2>Institutos registrados</h2> 
            <app-lista-registrados />
        </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>