<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sistema de Gestión Unificado de Convocatoria -SGUC-</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="correo" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contrasena" type="password" pla >
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Ingresar
        </button>
      </form>
    </mat-card-content>

    <div style="text-align: center; padding-top: 1em;">
        <small>Sistema de Ubicación y Nivelación</small><br>
        <small>2026</small>
    </div>
    
  </mat-card>
</div>